@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@font-face {
    font-family: 'insaniburger';
    src: url('../../font/insaniburger/Insanibu.ttf');
}

.linkPr{
    text-decoration: none;
    color: black;
}
.contornoPr{
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    width: 330PX;
    height: 450px;
}
.imgPr{
    width: 320px;
    height: auto;
}
.textPr{
    text-align: center;
    line-height: 30%;
}
.titlePr{
    font-size: 22px;
    font-weight: 800;
}
.subPr{
    font-size: 19px;
    font-weight: 600;
    color: rgb(94, 94, 94);
    font-family: 'Urbanist', sans-serif;
}
.pricePr{
    font-size: 22px;
    font-weight: 800;
    color: #FF8022;
}