.blockCats{
    display: block;
}
.titleCats{
    padding-bottom: 60px;
    margin-left: 180px;
    padding-top: 20px;
    font-family: 'insaniburger';
    font-weight: 500;
}
.Cats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}