@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,900&display=swap');
@font-face {
    font-family: 'insaniburger';
    src: url('../../font/insaniburger/Insanibu.ttf');
}

.Categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}
.Cat{
    margin-left: 10px;
    margin-right: 10px;
}
.subCategories{
    display: block;
    justify-content: center;
    align-items: center;    
}
.imgCategories{
    width: 160px;
    height: auto;
    border-radius: 20%;
}
.textCat{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15px;
}
.block{
    display: block;
}
.titleCat{
    padding-bottom: 60px;
    margin-left: 180px;
    padding-top: 20px;
    font-family: 'insaniburger';
    font-weight: 500;
}
.linkCat{
    text-decoration: none;
    color: black;
}