@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,900&display=swap');
@font-face {
    font-family: 'insaniburger';
    src: url('../../font/insaniburger/Insanibu.ttf');
}

.CatItem{
    margin-left: 10px;
    margin-right: 10px;
}
.linkCatItem{
    text-decoration: none;
    color: black;
}
.subCatItem{
    display: block;
    justify-content: center;
    align-items: center;    
}
.imgCatItem{
    width: 160px;
    height: auto;
    border-radius: 20%;
}
.textCatItem{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15px;
}