.imgNav{
    width: 250px;
    height: auto;
}
.Menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 20px;
}
.categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 3em;
    align-items: center;
    justify-content: space-between;
}
.listaNav{
    color: hwb(0 60% 100%);
    font-size: 18px;
    font-weight: 800;
    margin-left: 30px;
    margin-right: 30px;
}
.categorias :hover{
    color: rgb(250, 112, 0);
}
.link{
    text-decoration: none;
    color: black;
}
