@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
    font-family: 'insaniburger';
    src: url('../../font/insaniburger/Insanibu.ttf');
}

.Footer{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #FFB355;
}
.ImgLogoFoot{
    width: 500px;
    height: auto;
    margin-right: 0px;
}
.contFoot{
    height: 450px;
}
.contactoListaFoot{
    text-align: center;
    padding-right: 40px;
    color: white;
    font-family: 'insaniburger';
    font-weight: 500;
}
.ContactoFoot{
    display: block;
    padding-right: 0;
    padding-bottom: 170px;
}
.linkFoot{
    text-decoration: none;
    color: black;
}
.listaFoot{
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-decoration: none;
}
.iconoFooter{
    width: 45px;
    height: auto;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blockListaFoot{
    display: block;
    line-height: 5%;
}
.listaContFoot{
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-decoration: none;
    height: 25px;
}
.direFooter{
    display: block;
    width: 500px;
}
.direTextFoot{
    text-align: start;
    color: white;
    font-family: 'insaniburger';
    font-weight: 500;
}
.textDireFoot{
    width: 400px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
.ubicacionFoot{
    width: 300px;
    height: 250px;
    border-radius: 10%;
}

