.imgLogo{
    width: 100px;
    height: auto;
}
.End{
    background-color: #FFB355;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}